/.gitattributes export-ignore
/.github        export-ignore
/.gitignore     export-ignore
/bin            export-ignore
/composer.lock  export-ignore
/config         export-ignore
/makefile       export-ignore
/phpunit.xml    export-ignore
/tests          export-ignore
