/_build export-ignore
/tests export-ignore
/.phan export-ignore
/.github export-ignore
/makefile export-ignore
/phpunit.xml export-ignore
/phpcs.xml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
